.circle{
  width: 100px;
  height: 100px;
  background: var(--ion-color-primary);
  border-radius: 50%;
}

.circle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// ion-range{
//   margin-top: 150px;
//   position: absolute;
// }