<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Animation API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
  <ion-button (click)="progressAnimation()">step</ion-button>
  <ion-button (click)="endAnimation(1)">Finish (play to end)</ion-button>
  <ion-button (click)="endAnimation(0)">Finish (play to beginning)</ion-button>
  <div class="circle-container">
    <div #circle class="circle"></div>
  </div>
  <ion-range min="0" max="1" step="0.01" (ionChange)="onIonChange($event)"></ion-range>
</ion-content>